html,
body {
  height: 100%; }

html {
  font-size: calc(1em + 1vw); }

body {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-align: center;
      align-items: center;
  margin: 0; }

h1 {
  margin-bottom: 4rem;
  font-size: 1.5rem; }

.emoji {
  font-size: 5rem;
  margin: 0;
  -ms-flex: 1;
      flex: 1; }

footer {
  font-size: .75rem;
  margin: 0;
  align-item: flex-end; }
